.p {
    font-size: 13px;
    color: white;
    padding: 2px;
    padding-bottom: 5%;
}

.tooltip {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

footer {
    height: 25%;
    width: 100%;
    background-color: #424242;
    text-align: center;
}

hr {
    padding-bottom: 2%;
    border: 0.5px;
    border-style: none;
}

.img_height {
    height: 40px;
}

.body {
    color: black;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: Justify;
    border-radius: 0px;
    /* 5px rounded corners */
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-block {
    padding: 10px;
}

#counter1, #counter2, #counter3 {
    color: #03A9F4;
    font-size: 55px;
}
